[Unit]
Description=pulseaudio with a virtual sink for network-computer
[Service]
Environment=HOME=/root
RuntimeDirectory=nc-pulse
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/pulseaudio --daemonize=no --exit-idle-time=-1 --disallow-exit --load="module-native-protocol-unix auth-anonymous=1 socket=/run/nc-pulse/native"
ExecStartPost=/usr/local/bin/nc-audio-setup
Restart=always
[Install]
WantedBy=multi-user.target
