[Unit]
Description=xfce desktop on the headless Xorg
After=nc-xorg.service
Requires=nc-xorg.service
[Service]
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/dbus-launch --exit-with-session startxfce4
ExecStartPost=/bin/sh -c "sleep 3; xset s off s noblank"
Restart=always
[Install]
WantedBy=multi-user.target
