[Desktop Entry]
Type=Application
Name=Files
Comment=Your files in the object server
Exec=nc-object-open "Files" /files folder-remote
Icon=folder-remote
StartupWMClass=nc-files
Categories=Network;Office;
