[Desktop Entry]
Type=Application
Name=Notes
Comment=Your notes in the object server
Exec=nc-object-open "Notes" /notes accessories-text-editor
Icon=accessories-text-editor
StartupWMClass=nc-notes
Categories=Network;Office;
